<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Customer</title>
  <link rel="stylesheet" href="/Asset/Css/Customers.css">

</head>
<body>
  <div class="table-title">
  <h3>Customer Details</h3>
  </div>
  <table style="width:100%" class="table-fill">
  <thead>
  <tr>
  <th class="text-left">Customer Name</th>
  <th class="text-left">Customer ID</th>
  <th class="text-left">Total Amount</th>
    <th class="text-left">Delivery Status</th>
  </tr>
  </thead>
  <tbody class="table-hover">
  <tr>
  <td class="text-left">aaa</td>
  <td class="text-left">111</td>
  <td class="text-left">500</td>
  <td class="text-left">Shipped</td>
  </tr>
  <tr>
  <td class="text-left">bbb</td>
  <td class="text-left">222</td>
  <td class="text-left">300</td>
  <td class="text-left">Dilivered</td>
  </tr>
  <tr>
    <td class="text-left">bbb</td>
    <td class="text-left">222</td>
    <td class="text-left">300</td>
    <td class="text-left">Dilivered</td>
  </tr>
  <tr>
    <td class="text-left">bbb</td>
    <td class="text-left">222</td>
    <td class="text-left">300</td>
    <td class="text-left">Dilivered</td>
  </tr>
  <tr>
    <td class="text-left">bbb</td>
    <td class="text-left">222</td>
    <td class="text-left">300</td>
    <td class="text-left">Dilivered</td>
  </tr>
  <tr>
    <td class="text-left">bbb</td>
    <td class="text-left">222</td>
    <td class="text-left">300</td>
    <td class="text-left">Dilivered</td>
  </tr>
  <tr>
    <td class="text-left">bbb</td>
    <td class="text-left">222</td>
    <td class="text-left">300</td>
    <td class="text-left">Dilivered</td>
  </tr>
  <tr>
    <td class="text-left">bbb</td>
    <td class="text-left">222</td>
    <td class="text-left">300</td>
    <td class="text-left">Dilivered</td>
  </tr>
  <tr>
    <td class="text-left">bbb</td>
    <td class="text-left">222</td>
    <td class="text-left">300</td>
    <td class="text-left">Dilivered</td>
  </tr>
  <tr>
    <td class="text-left">bbb</td>
    <td class="text-left">222</td>
    <td class="text-left">300</td>
    <td class="text-left">Dilivered</td>
  </tr>

  </tbody>
  </table>
    
  
    </body>
</html>
