<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Product card</title>
  <link rel="stylesheet" href="/Asset/Css/Products.css">

</head>
<body>


<h1>Medicines</h1>

<!-- partial:index.partial.html -->





<div class="flex-container">

	<div class="flex-slide about">
		<div class="flex-title">Crocine</div>
		<div class="flex-about">	<div class="product__info">
			<div class="title">
				<h1>Crocin 650 Advance Tablet</h1>
					</div>
			<div class="price">
				MRP ₹ <span>199.5</span>
				<a href="/Asset/Components/Product-interface.html">		<button class="buy--btn">ADD TO CART</button></a>  

			</div>
			
			
			
		</div></div>
	</div>
	<div class="flex-slide work">
		<div class="flex-title">Blotin</div>
		<div class="flex-about">	<div class="product__info">
			<div class="title">
				<h1>H-Vit Biotin Tablet</h1>
			</div>
			<div class="price">
				MRP ₹ <span>199.5</span>
					<a href="/Asset/Components/Product-interface.html">		<button class="buy--btn">ADD TO CART</button></a>
			</div>
			
			
		</div>
		</div>
	</div>
	<div class="flex-slide contact">
		<div class="flex-title">Azee</div>
				<div class="flex-about">
					<div class="product__info">
						<div class="title">
							<h1>Azee 500 Tablet</h1>
						
						</div>
						<div class="price">
							MRP ₹ <span>199.5</span>
								<a href="/Asset/Components/Product-interface.html">		<button class="buy--btn">ADD TO CART</button></a>
						</div>
						
						
					</div>
	    	</div>
	</div>

	<div class="flex-slide Raj">
		<div class="flex-title">Ecosprin</div>
				<div class="flex-about">
					<div class="product__info">
						<div class="title">
							<h1>Ecosprin 75mg </h1>
						
							<div class="price">
								MRP ₹ <span>199.5</span>
								<button class="buy--btn" src="/Asset/Components/Product-interface.html">
									ADD TO CART</button>
							</div>
						</div>
					
						
						
					</div>
	    	</div>
	</div>

	<div class="flex-slide Ram">
		<div class="flex-title">Telma</div>
				<div class="flex-about">
					<div class="product__info">
						<div class="title">
							<h1>Azee 500 Tablet</h1>
							
							<div class="price">
								MRP ₹ <span>199.5</span>
									<a href="/Asset/Components/Product-interface.html"><button class="buy--btn">ADD TO CART</button></a>
							</div>
						</div>
					
						
						
					</div>
	    	</div>
	</div>

	<div class="flex-slide mukund">
		<div class="flex-title">Pan 40mg </div>
				<div class="flex-about">
					<div class="product__info">
						<div class="title">
							<h1>Pan 40mg Tablet</h1>
							
							<div class="price">
								MRP ₹ <span>199.5</span>
									<a href="/Asset/Components/Product-interface.html">		<button class="buy--btn">ADD TO CART</button></a>
							</div>
						</div>
					
						
						
					</div>
	    	</div>
	</div>

	<div class="flex-slide darshan">
		<div class="flex-title">Dolo</div>
				<div class="flex-about">
					<div class="product__info">
						<div class="title">
							<h1>Azee 500 Tablet</h1>
							
							<div class="price">
								MRP ₹ <span>199.5</span>
									<a href="/Asset/Components/Product-interface.html">		<button class="buy--btn">ADD TO CART</button></a>
							</div>
						</div>
					
						
						
					</div>
	    	</div>
	</div>



	<div class="flex-slide yogesh">
		<div class="flex-title">yogesh</div>
				<div class="flex-about">
					<div class="product__info">
						<div class="title">
							<h1>Azee 500 Tablet</h1>
							
							<div class="price">
								MRP ₹ <span>199.5</span>
									<a href="/Asset/Components/Product-interface.html">		<button class="buy--btn">ADD TO CART</button></a>
							</div>
						</div>
					
						
						
					</div>
	    	</div>
	</div>


	<div class="flex-slide vishnu">
		<div class="flex-title">vishnu</div>
				<div class="flex-about">
					<div class="product__info">
						<div class="title"> 
							<h1>Azee 500 Tablet</h1>
							
							<div class="price">
								MRP ₹ <span>199.5</span>
									<a href="/Asset/Components/Product-interface.html">		<button class="buy--btn">ADD TO CART</button></a>
							</div>
						</div>
					
						
						
					</div>
	    	</div>
	</div>

	<div class="flex-slide ramesh">
		<div class="flex-title">ramesh</div>
				<div class="flex-about">
					<div class="product__info">
						<div class="title">
							<h1>Azee 500 Tablet</h1>
							
							<div class="price">
								MRP ₹ <span>199.5</span>
									<a href="/Asset/Components/Product-interface.html">		<button class="buy--btn">ADD TO CART</button></a>
							</div>
						</div>
					
						
						
					</div>
	    	</div>
	</div>


<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/jquery.waitforimages.min.js'></script> 
<script >(function(){
	$('.flex-container').waitForImages(function() {
		$('.spinner').fadeOut();
	}, $.noop, true);
	
	$(".flex-slide").each(function(){
		$(this).hover(function(){
			$(this).find('.flex-title').css({
				transform: 'rotate(0deg)',
				top: '10%'
			});
			$(this).find('.flex-about').css({
				opacity: '1'
			});
		}, function(){
			$(this).find('.flex-title').css({
				transform: 'rotate(90deg)',
				top: '15%'
			});
			$(this).find('.flex-about').css({
				opacity: '0'
			});
		})
	});
})();</script>




</body>
</html>
